ahocorapy~=1.6.1
git+https://github.com/ra1nty/DXcam@main#egg=DXcam
nptyping~=2.2.0
numpy~=1.21.0
opencv-python~=4.6.0.66
Pillow~=9.1.1
PyAutoGUI~=0.9.53
PyGetWindow~=0.0.9
Rx~=3.2.0
scipy~=1.8.1
xxhash~=3.0.0
